@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/* Navbar css */
nav {
  background-color: transparent;
  position: sticky;
  top: 0px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 25px 5px;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  width: 12%;
}

.left-li-1 > img {
  width: 35px;
  height: 36px;
  top: 50px;
  left: 100px;
}

.left-li-2 {
  width: 20px;
  height: 20px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-inline: 10px;
  color: rgba(255, 81, 81, 1);
}

.center-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Rubik", sans-serif;
  width: 35%;
}

.center-li-1 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 81, 81, 1);
}

.center-li {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(79, 86, 101, 1);
}

.rigth-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}

.right-li-1 > img {
  width: 30px;
  height: 29.8076229095459px;
  top: 54.967926025390625px;
  left: 1170px;
  padding: 4.249536037445068px 3.9737110137939453px 3.948225498199463px
    4.276939392089844px;
  border-radius: 10px;
}

.right-li-2 > img {
  width: 19.375px;
  height: 21.087717056274414px;
  top: 4.03643798828125px;
  left: 5.3125px;
}
.right-li-3 > img {
  width: 18.95796775817871px;
  height: 24.529190063476562px;
  top: 5.4647216796875px;
  left: 11.52099609375px;
}

/* Hero component Css */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  top: 134px;
  left: 50px;
  margin-inline: 10px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(252, 203, 144, 0.44) 0%,
    rgba(255, 154, 158, 0.38) 100%
  );
}

.hero-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  margin-inline: 10px;
}

.hero-item-2 {
  width: 50%;
  height: 600px;
  margin-inline: 10px;
}

.hero-item-first-text {
  width: 435px;
  height: 23px;
  top: 256px;
  left: 156px;
  font-family: Mada;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Mada", sans-serif;
  color: rgba(0, 0, 0, 1);
}

.hero-item-second-text {
  width: 477px;
  height: 109px;
  margin-top: 23px;
  font-family: "Aclonica", sans-serif;
  font-size: 114px;
  font-weight: 400;
  line-height: 129px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-item-third-text {
  width: 450px;
  height: 31px;
  top: 434px;
  left: 156px;
  font-family: "Mada", sans-serif;
  margin-top: 23px;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-item-forth-btn {
  width: 450px;
  margin-top: 70px;
}

#hero-item-1-button {
  width: 210px;
  height: 60px;
  top: 543px;
  left: 146px;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #ff5e3a 100%);
  font-size: 16px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0em;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);

}


#hero-item-1-button:hover {
  background: linear-gradient(180deg, rgba(83, 44, 44, 0.5) 0%, #da4e33 100%);
}

/* Collection Component Css */
.collection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  top: 134px;
  left: 50px;
  margin: 10px;
  border-radius: 20px;
}

.collection-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 300px;
  margin: 10px;
}

.collection-item-first-text {
  width: 95px;
  height: 25px;
  top: 834px;
  left: 672px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 35px;
}

.horizontal-line {
  background: linear-gradient(
    180deg,
    rgba(252, 251, 251, 0.5) 0%,
    #ff5e3a 100%
  );
  height: 1px;
  border: none;
  border-radius: 5px;
}

.collection-item-second-text {
  width: 198px;
  height: 25px;
  top: 885px;
  left: 621px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 35px;
}

.collection-item-1-btn {
  width: 130px;
  height: 60px;
  top: 960px;
  left: 385px;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(79, 86, 101, 1);
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin: 50px 20px;
}

#collection-item-1-button-2 {
  width: 130px;
  height: 63px;
  top: 960px;
  left: 565px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  box-shadow: -1px 8px 21px 1px rgba(224, 150, 95, 0.75);
  background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #FF5E3A 100%);

}

.collection-item-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 500px;
  margin-inline: 10px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  width: 18rem;
}

.images-1,
.card-2 {
  background: linear-gradient(
    180deg,
    rgba(252, 203, 144, 0.44) 0%,
    rgba(255, 154, 158, 0.38) 100%
  );
}

.card-text {
  width: 272px;
  height: 45px;
  top: 1472px;
  left: 125px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.btn {
  width: 80px;
  height: 35px;
  border: none;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 94, 58, 1);
  color: rgba(255, 255, 255, 1);
}

/* New Arrival Component Css */
.arrival-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  top: 134px;
  left: 50px;
  margin: 10px;
  border-radius: 20px;
}

.arrival-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 115px;
  margin: 10px;
}

.arrival-item-first-text {
  width: 95px;
  height: 25px;
  top: 834px;
  left: 672px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 35px;
}

.horizontal-line-1 {
  background: linear-gradient(
    180deg,
    rgba(252, 251, 251, 0.5) 0%,
    #ff5e3a 100%
  );
  height: 1px;
  width: 82px;
  border: none;
  border-radius: 5px;
}

.arrival-item-second-text {
  width: 198px;
  height: 25px;
  top: 885px;
  left: 621px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
}

.gird-text {
  position: relative;
  top: 170px;
  left: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}


.arrival-item-2{
  display: grid;
  grid-template-rows: repeat(2, 240px);
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  align-content: center;
  height: 900px;
  margin: 10px;
  border-radius: 20px;
}

.grid-1{
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-2{
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("./assets/Poster 3.png");
}

.grid-item-box{
  background-color: cadetblue;
  background-repeat: no-repeat;
  width: 570px;
  height: 260px;
}

.grid-item-box-1{
  background: url("./assets/Poster 1.png");
}

.grid-item-box-2{
  background: url("./assets/Poster 2.png");
  margin-top: 15px;
}

.gird-text-1{
  top: 320px;
}

/*Categories Component */
.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1000px;
  top: 134px;
  left: 50px;
  margin: 10px;
  border-radius: 20px;
}

.categories-item-2 {
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 900px;
  margin-inline: 10px;
}

.categories-item-second-text {
  width: 250px;
  height: 25px;
  top: 885px;
  left: 621px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
}

.btn-bg {
  background: rgba(255, 255, 255, 1);
  color: rgba(144, 144, 144, 1);
}

.images-2 {
  background: linear-gradient(
      0deg,
      rgba(144, 144, 144, 0.25),
      rgba(144, 144, 144, 0.25)
    ),
    linear-gradient(0deg, #f0f0f0, #f0f0f0);
}

/* Footer Css */
.foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 483px;
  top: 134px;
  left: 50px;
  margin: 10px;
  border-radius: 20px;
  background: rgba(252, 203, 144, 0.15);
  padding-inline: 55px;
}

.foot-item {
  margin: 5px;
  width: 10rem;
  height: 150px;
}

.foot-item-1 {
  margin: 5px;
  width: 20rem;
  height: 250px;
}

.text {
  font-family: "Rubik", sans-serif;
  color: rgba(79, 86, 101, 1);
  width: 254px;
  height: 62.790000915527344px;
  top: 3678.6484375px;
  left: 151px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.text-1 {
  width: 151px;
  height: 62.790000915527344px;
  top: 3828.54541015625px;
  left: 150px;
  color: rgba(255, 94, 58, 1);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.box-2-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 25px;
}

.box-2-item > h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(11, 19, 42, 1);

}

.box-2-item > li {
  margin-top: 17px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(79, 86, 101, 1);
  font-family: "Rubik", sans-serif;
}

.box-4-item{
  margin-top: 15px;
}

.box-4-item > h3{
  margin-left: 18px;
}
